!!!
%html
  %head
    %title Soundmap
    = stylesheet_link_tag "application", :media => "all"

    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCtwHHDQeaIfEpXU1HFqVyFw53fiM8V1eY&sensor=false&libraries=visualization,geometry"
    = javascript_include_tag "application"

    = javascript_include_tag 'heatmap'
    = javascript_include_tag 'heatmap-gmaps'
    = csrf_meta_tags

  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.brand{:href => "/"} SoundMap

          %ul.nav
            %li
              %a{:href => "/"} Home
            %li
              %a{:href => "/map"} Map

    = yield

    .container
      %hr
      %footer
        %p Ari Croock 2013

 
